# Data Science Tools and Ecosystem

##### In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

* Popular languages
* commonly used libraries
* Data science tools table

#### Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. Scala
4. julia

##### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib

|Data Science Tools|
---
|RStudio| 
|Apache Spark| 
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author:
Ankan Sadhu